$orange: #FF8A00;
$white-blue: #00BCE5;
$gray: #F7F9FA;
$border: #E5E5E5;
$input-color: #5D6980;
$prepend-color: #91949F;

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  color: $orange;

  span {
    color: $white-blue;
  }
}

.form-control, .form-control:disabled {
  background-color: $gray;
  border: none;
  color: $input-color;
  font-weight: bold;
}

.input-group-text {
  border: none;
  background-color: $gray;
  color: $prepend-color;
}

.input-border {
  border-bottom: 3px solid $border;
  border-radius: 5px;
}

.btn {
  color: #fff !important;
  font-weight: bold !important;
  border: 0;
  &-success {
    border-bottom: 3px solid #89ce9a;
  }
  &-warning {
    background-color: $orange !important;
    border-bottom: 3px solid #fdaa49;
  }
}

.bg-primary {
  background-color: $white-blue !important;
}

.card {
  border: none;
  border-bottom: 3px solid $border;
  border-radius: 5px;

  &-body {
    background-color: $gray;
  }
}

.badge-warning {
  background-color: $orange;
}