<template>
  <div class="row">
    <div class="col-md-5">
      <div class="input-group mb-3 input-border">
        <div class="input-group-prepend">
          <span class="input-group-text">Name</span>
        </div>
        <input
          type="text"
          class="form-control text-right"
          placeholder="Please enter your name"
          v-model="playerName"
          @change="changePlayer()"
        />
      </div>
    </div>
    <div class="col-md-5">
      <div class="input-group input-border">
        <select class="form-control" v-model="grid">
          <option
            v-for="grid in gridSizes"
            :value="grid"
            :key="grid"
          >{{ grid }}x{{ grid }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-warning btn-block" @click="startGame()" :disabled="!playerName">Start</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Starter",
  props: ['playerName'],
  data() {
    return {
      name: '',
      grid: this.$store.state.grid,
      status: this.$store.state.gameStatus,
      gridSizes: [5,6,7,8]
    };
  },
  methods: {
    startGame() {
      this.$store.commit('changePlayer', this.playerName);
      this.$store.commit('changeGrid', this.grid);
      this.$store.commit('startGame', true);
      this.$store.getters.createMap;
    },
    changePlayer() {
      this.$store.state.playerName = this.name;
    }
  }
};
</script>
